// Sizes
$size-2xs: 4px;
$size-xs: 8px;
$size-sm: 12px;
$size: 16px;
$size-md: 20px;
$size-lg: 24px;
$size-xl: 28px;
$size-2xl: 32px;
$size-3xl: 36px;
$size-4xl: 40px;

// Breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Outlines
$outline-primary: 4px solid var(--ion-color-tertiary);
