@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables";
@import "./mixins";

:root {
  /* Padding */
  --ion-grid-column-padding: 0;
  --ion-padding: #{$size};
  --ion-card-margin: #{$size};
  --ion-card-padding: #{$size};

  @include when-sm {
    --ion-padding: #{$size-md};
    --ion-card-margin: #{$size-md};
    --ion-card-padding: #{$size-md};
  }
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
}

h4,
h5,
h6 {
  @apply text-sm;
}

h3 {
  @apply text-base md:text-lg xl:text-xl;
}

h2 {
  @apply text-lg md:text-xl xl:text-2xl;
}

h1 {
  @apply text-xl md:text-2xl xl:text-3xl;
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--ion-padding);
  padding-top: var(--ion-padding);
  padding-bottom: var(--ion-padding);
}

/* Grid */
ion-grid {
  padding: 0;
  gap: $size;
  display: flex;
  margin-inline: 0;
  flex-direction: column;
  align-items: flex-start;

  @include when-sm {
    gap: $size-md;
  }
}

ion-row {
  gap: $size;
  width: 100%;
  padding-left: $size;

  @include when-sm {
    gap: $size-md;
    padding-left: $size-md;
  }
}

ion-col {
  flex: auto !important;
  width: calc(50% - #{$size}) !important;
  max-width: calc(50% - #{$size}) !important;

  @include when-sm {
    width: calc(33.333% - #{$size-md}) !important;
    max-width: calc(33.333% - #{$size-md}) !important;
  }

  @include when-md {
    width: calc(25% - #{$size-md}) !important;
    max-width: calc(25% - #{$size-md}) !important;
  }

  ion-card {
    margin: 0;
    height: 100%;
  }
}

/* Card */
ion-card {
  display: flex;
  gap: $size-xs;
  position: relative;
  flex-direction: column;
  padding-bottom: $size-xs;

  a {
    z-index: 1;
  }

  @include when-sm {
    gap: $size;
    padding-bottom: $size;
  }

  &:focus-within {
    outline: $outline-primary;
  }

  img,
  ion-thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 10;

    @include when-md {
      aspect-ratio: 16 / 9;
    }
  }

  img {
    height: auto;
    object-fit: cover;
    position: relative;
  }

  ion-card-header,
  ion-card-content {
    display: flex;
    gap: $size-2xs;
    flex-direction: column;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-inline: $size-xs !important;

    @include when-sm {
      gap: $size-xs;
      padding-inline: $size !important;
    }
  }

  ion-card-title {
    margin: 0;
    font-size: $size;
  }
}

// Badge
ion-badge {
  display: flex;
  gap: $size-2xs;
  align-items: center;
  font-size: $size-sm;
}

// Searchbar
ion-modal ion-searchbar {
  @include when-md {
    padding-top: $size-sm !important;
  }
}
