@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables";
@import "./mixins";
@import "./utils";

:root {
  /* Padding */
  --ion-grid-column-padding: 0;
  --ion-padding: #{$size};
  --ion-card-margin: #{$size};
  --ion-card-padding: #{$size};

  @include when-sm {
    --ion-padding: #{$size-md};
    --ion-card-margin: #{$size-md};
    --ion-card-padding: #{$size-md};
  }
}

*:focus {
  outline: none;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
}

h4,
h5,
h6 {
  @apply text-sm;
}

h3 {
  @apply text-base md:text-lg xl:text-xl;
}

h2 {
  @apply text-lg md:text-xl xl:text-2xl;
}

h1 {
  @apply text-xl md:text-2xl xl:text-3xl;
}

// Main header
// Main header has a tricky way of adding a container to the header.
// This is a workaround to make sure the container is there.
@include when-lg {
  ion-header.app-header {
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    background: var(--ion-toolbar-background);

    &.ios {
      --border-style: solid;
      --border-width: 0 0 0.55px;
      --border-color: var(
        --ion-toolbar-border-color,
        var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.2)))
      );
    }

    ion-toolbar {
      margin: auto;
      max-width: $breakpoint-lg;

      &.ios {
        --border-width: 0;
      }
    }
  }
}

// Container
.container {
  margin-inline: auto;
  max-width: $breakpoint-lg;
}

// Section
section {
  display: flex;
  flex-direction: column;
  gap: var(--ion-padding);
  padding-top: var(--ion-padding);
  padding-bottom: var(--ion-padding);
}

ion-card,
ion-button::part(native) {
  &:focus-within {
    outline: $outline-primary;
  }
}

ion-list-header,
ion-item-divider,
ion-item::part(native) {
  padding-inline: $size;

  @include when-sm {
    padding-inline: $size-md;
  }

  @include when-lg {
    padding-inline: $size-lg;
  }
}

/* Grid */
ion-grid {
  padding: 0;
  gap: $size;
  display: flex;
  margin-inline: 0;
  flex-direction: column;
  align-items: flex-start;

  @include when-sm {
    gap: $size-md;
  }
}

ion-row {
  gap: $size;
  width: 100%;
  padding-left: $size;

  @include when-sm {
    gap: $size-md;
    padding-left: $size-md;
  }
}

ion-col {
  flex: auto !important;
  width: calc(50% - #{$size}) !important;
  max-width: calc(50% - #{$size}) !important;

  @include when-sm {
    width: calc(33.333% - #{$size-md}) !important;
    max-width: calc(33.333% - #{$size-md}) !important;
  }

  @include when-md {
    width: calc(25% - #{$size-md}) !important;
    max-width: calc(25% - #{$size-md}) !important;
  }

  ion-card {
    margin: 0;
    height: 100%;
  }
}

/* Card */
ion-card {
  display: flex;
  gap: $size-xs;
  position: relative;
  flex-direction: column;
  padding-bottom: $size-xs;

  a {
    z-index: 1;
  }

  @include when-sm {
    gap: $size;
    padding-bottom: $size;
  }

  ion-card-header,
  ion-card-content {
    display: flex;
    gap: $size-2xs;
    flex-direction: column;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-inline: $size-xs !important;

    @include when-sm {
      gap: $size-xs;
      padding-inline: $size !important;
    }
  }

  ion-card-title {
    margin: 0;
    font-size: $size;
  }
}

// Badge
ion-badge {
  display: flex;
  gap: $size-2xs;
  flex-shrink: 0;
  align-items: center;
  font-size: $size-sm;
}

// Chip
ion-chip {
  margin: 0;
  display: flex;
  gap: $size-xs;
  flex-shrink: 0;
  align-items: center;
  font-size: $size-sm;
  padding-left: $size-2xs;
}

ion-modal {
  .ion-page {
    justify-content: flex-start;
  }

  // Searchbar
  ion-searchbar.ios {
    @include when-md {
      padding-top: $size-sm !important;
    }
  }
}

// Recipe
.recipe {
  position: relative;

  // Image
  .recipe-image {
    position: relative;
    aspect-ratio: 16 / 10;

    @include when-md {
      aspect-ratio: 16 / 9;
    }

    img,
    ion-thumbnail {
      width: 100%;
      height: 100%;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

// Page Content
ion-content.page-content {
  --padding-top: #{$size};
  --padding-end: #{$size};
  --padding-bottom: #{$size};
  --padding-start: #{$size};
}
